.board {
    background-color: lightgreen;
    width: 700px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

ul {
    display: flex;
    flex-flow: row ;
    width: 100%;
    text-align:center;

    
    // background-color: brown;
}

li {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    background-color: #ddd;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

