<li (click)="onCardClick.emit()">
  <div *ngIf='!isShown' class='front'> card </div>
  <div *ngIf='isShown' 
        class='back' 
        [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}" > 
        
  </div>
</li>