// li {
//     background-color: lightcoral;
// }

li {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #ddd;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

.back {
        width: 100%;
        height: 100%;
        // background-image: url('/assets/angular.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        text-indent: 10000px;
        overflow: hidden;
    }

.front {
    color: white;
    text-transform: uppercase;
    font-size: 1.4em;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}
