:host {
    // position: relative;
    width: 100%;
}

h1, h3, p {
    margin-bottom: 40px;
}

div {
    position: relative;
    z-index: 2;
    top: -360px;

    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align:center;
    border: 1px solid #aaa;
    
    h1 {
        font-size: 2em;
        text-decoration: underline;
    }

    h3 {
        font-size: 1.4em;
    }
    
    p {
        width: 400px;
        margin: 40px auto 0;
        border: 4px double black;
        padding: 20px;
        font-weight: bold;
        font-style: italic;
        line-height: 1.3;
    }

}
