<registration *ngIf="!isRegistered" (onRegistered)="register($event)"></registration>

<board [level]='level' *ngIf="isRegistered"></board>
<scoreboard *ngIf="isRegistered"></scoreboard>

<win-msg *ngIf="didWin()"></win-msg>
