:host {
    margin-top: 50px;
}

table {
    width: 100%;
    background-color: #aaa;
    border-collapse: collapse;
    color: white;
}

th {
    text-transform: uppercase;
}

td, th {
    padding: 20px;
}

tr {
    border: 1px solid black;
}

td {
    text-align: center;
}