:host {
    background-color: lightgreen;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    // width: 100%;
}

